*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#my_body{
    background-color: #FFFBF1;
    color: #071013;
    font-weight: bolder;
    margin: 0%;
    text-shadow: #fcfeff 1px 1px;
}
#name_and_title{
    font-size: 200%;
    -webkit-text-stroke: #1B223E 1.5px;
    box-sizing: border-box;
    border: .5em solid #846C5B;
    padding: 1em;
    text-align: center;
}
#my_name{
    font-family: sans-serif;
    text-transform: uppercase;
    -webkit-text-size-adjust: 20%;
}
#my_title{
    font-size: 115%;
    font-weight: 100;
}

#part1{
    display: flex;
    flex-direction: row;
    max-width: 90%;
    min-width: 30%;
    max-height: 50%;
    min-height: 30%;
    margin-left: 5%;
    margin-right: 3%;
    margin-top: 5%;
}
#about_me{
    order: 1;
    font-size: 150%;
    box-sizing: border-box;
    border: .5em solid #846C5B;
    padding: 1em;
    float: left;
    margin-right: 3%;
    min-width: 65%;
    max-height: fit-content;
    resize: none;
}
#who{
    text-align: center;
    font-size: 160%;
}
#who_p{
    text-align: left;
}

#main_street{
    order: 2;
    float: right;
    min-width: 35%;
    max-height: 10%;
    min-height: 10%;
    border: 2px solid #846C5B;
}

#my_skills, #my_projects{
    clear: both;

}
#my_skills{
    display: flex;
    flex-direction: row;
    max-width: 90%;
    min-width: 30%;
    max-height: 50%;
    min-height: 30%;
    margin-left: 5%;
    margin-right: 3%;
    margin-top: 5%;
}
#skills_txt{
    font-size: 150%;
    box-sizing: border-box;
    border: .5em solid #846C5B;
    padding: 1em;
    float: left;
    margin-right: 3%;
    min-width: 65%;
    max-height: fit-content;
    resize: none;
}
#my_projects{
    display: flex;
    flex-direction: row;
    max-width: 90%;
    min-width: 30%;
    max-height: 50%;
    min-height: 30%;
    margin-left: 5%;
    margin-right: 3%;
    margin-top: 5%;
}
#projects_txt{
    font-size: 150%;
    box-sizing: border-box;
    border: .5em solid #846C5B;
    padding: 1em;
    float: left;
    margin-right: 3%;
    min-width: 65%;
    max-height: fit-content;
    resize: none;
    /* padding-bottom: .5em; */
    margin-bottom: 10%;
}

#contact{
    justify-content: center;
    position: relative;
    margin-left: 40%
}

#contact_list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-shadow: none;
    font-size: 150%;
    margin-top: 2%;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.link_list{
    
    background-color: #071013;
    color: #3E78B2;
    display: block;
    padding: 1em;
    text-align: center;
    float: left;
    padding-top: 2%;
}

#github_link{
    display:block;
    color: #3E78B2;
    text-align: center;
    padding: 2% 4%;
    text-decoration: none;
}
#github_link:visited{
    color: #3E78B2;
}
#github_link:hover{
    color:#7D5BA6;
    text-decoration: underline;
}
#github_link:active{
    color:#FFFBF1;
}
#resume_link {
    display:block;
    color: #3E78B2;
    text-align: center;
    padding: 2% 4%;
    text-decoration: none;
}
#resume_link:visited{
    color: #3E78B2;
}
#resume_link:hover{
    color:#7D5BA6;
    text-decoration: underline;
}
#resume_link:active{
    color:#FFFBF1;
}
#linkedin_link{
    display:block;
    color: #3E78B2;
    text-align: center;
    padding: 2% 4%;
    text-decoration: none;
}
#linkedin_link:visited{
    color:#3E78B2;
}
#linkedin_link:hover{
    color:#7D5BA6
}
#linkedin_link:active{
    color:#FFFBF1
}

.bar_icons{
    height: 80px;
    width: 80px;
}

@media screen and (max-width: 1200px) {
    #part1{
        flex-direction: column;
    }
    #main_street{
        margin-top: 1%;
        max-height: 50%;
        align-items: flex-start;
    }
    #projects_txt{
        margin-bottom: 20%;
    }
    #contact{
        margin-left: 25%;
        margin-right: 40%;
    }
}