*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#my_body{
    background-color: #CAD2C5;
    color: #252527;
    font-weight: bolder;
    margin: 0%;
    
}
#name_and_title{
    font-size: 200%;
    -webkit-text-stroke: #1B223E 1.5px;
    box-sizing: border-box;
    border: .5em solid #585655;
    padding: 1em;
    text-align: center;
}

#part1{
    display: flex;
    flex-direction: row;
    max-width: 90%;
    min-width: 30%;
    max-height: 50%;
    min-height: 30%;
    margin-left: 5%;
    margin-right: 3%;
    margin-top: 5%;
}
#about_me{
    order: 1;
    font-size: 150%;
    box-sizing: border-box;
    border: .5em solid #585655;
    padding: 1em;
    float: left;
    margin-right: 3%;
    min-width: 65%;
    max-height: fit-content;
    resize: none;
}
#who{
    text-align: center;
    -webkit-text-stroke: #1B223E 1.5px;
    font-size: 160%;
}
#who_p{
    text-align: left;
}

#main_street{
    order: 2;
    float: right;
    min-width: 35%;
    max-height: 10%;
    min-height: 10%;
    border: 2px solid #1B223E;
}

#my_skills, #my_projects{
    clear: both;

}
#my_skills{
    display: flex;
    flex-direction: row;
    max-width: 90%;
    min-width: 30%;
    max-height: 50%;
    min-height: 30%;
    margin-left: 5%;
    margin-right: 3%;
    margin-top: 5%;
}
#skills_txt{
    font-size: 150%;
    box-sizing: border-box;
    border: .5em solid #585655;
    padding: 1em;
    float: left;
    margin-right: 3%;
    min-width: 65%;
    max-height: fit-content;
    resize: none;
}
#skills_h{

}
#skills_p{

}
#my_projects{
    display: flex;
    flex-direction: row;
    max-width: 90%;
    min-width: 30%;
    max-height: 50%;
    min-height: 30%;
    margin-left: 5%;
    margin-right: 3%;
    margin-top: 5%;
}
#projects_txt{
    font-size: 150%;
    box-sizing: border-box;
    border: .5em solid #585655;
    padding: 1em;
    float: left;
    margin-right: 3%;
    min-width: 65%;
    max-height: fit-content;
    resize: none;
}
#projects_h{

}
#projects_p{

}

#contact_list{
    position: fixed;
    bottom: 0;
    background-color: black;
    font-size: 200%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

#contact_p{
    color: yellow
}
#resume_link {
    color: yellow;
}
#resume_link:visited{
    color: red;
}
#resume_link:hover{
    
}
#resume_link:active{

}

#linkedin_link{
    color: yellow;
}

#linkedin_link:visited{
    color:red
}
#linkedin_link:hover{

}
#linkedin_link:active{
    
}


@media screen and (max-width: 1200px) {
    #part1{
        flex-direction: column;
    }
    #main_street{
        margin-top: 1%;
        max-height: 50%;
        align-items: flex-start;
    }
    
}